---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/index.css';
---
<MainLayout title="About">
    <section class="stack">
        <h1>Over mij</h1>
        <p>Coming soon…</p>
    </section>
</MainLayout>