---
import { Image } from 'astro:assets';
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/about.css';
import LinkedIn from '../assets/LinkedIn.jpg';
---
<MainLayout title="About">
    <section class="stack">
        <h1>Over mij</h1>
        <ul class="info-list">
            <li class="card info">
                <h2>Tygo Offermanns</h2>
                <h4>Introductie</h4>
                <p>Ik ben Tygo Offermanns, een gedreven 19-jarige software developer uit Amstenrade. Op een jonge leeftijd heb ik altijd al willen programmeren (vooral games) en heeft zich sindsdien ontwikkeld tot een studie en een passie. Momenteel ben ik bezig met het verkennen van de veel mogelijkheden van software development en het vergroten van mijn kennis en verbeteren van mijn vaardigheden.</p>
                <h4>Wie ben ik?</h4>
                <div><Image src={LinkedIn} alt="LinkedIn"></Image></div>
                <p>Dit ben ik...</p>
                <h4>Leuk feitjes</h4>
                <p>⚪ Kolibries kunnen achteruit vliegen, en honingbijen kunnen zowel vooruit als achteruit vliegen.</p>
                <p>⚪ Vlinders proeven eten met hun poten.</p>
                <p>⚪ Kakkerlakken zijn ouder dan de dinosauriërs.</p>
                <p>⚪ Een baby wordt geboren met ongeveer 350 botten, een volwassene heeft er 206, omdat botten aan elkaar groeien.</p>
                <p>⚪ De Chinese Muur is zo lang dat het 18 maanden duurt om hem helemaal te lopen. </p>
                <p>⚪ Veel mensen gebruiken nog steeds '123456' als wachtwoord.</p>
            </li>
      </ul>
    </section>
</MainLayout>