---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Projects">
    <section class="stack">
        <h1>Projects</h1>
        <ul class="project-list">
            <li class="card project">
                <h2>DI.ON.NE</h2>
                <h4>Probleem</h4>
                <p>Een docent kan niet bij meerdere studenten tegelijk zijn en is ook niet altijd beschikbaar. Daarom moet er een oplossing komen zodat studenten altijd hulp kunnen krijgen. De oplossing hiervoor is een virtuele mentor/student begeleider te maken die samen met de student kan leren en door middel van Continual Learning verder leert en feedback aan de student. Ook kan de student vragen stellen, en wordt er ook een AR functie toegepast zodat de student de avatar in zijn/haar omgeving kan zien.</p>
                <h4>Doelstelling</h4>
                <p>Het doel van dit project is om een digitale study buddie te maken die de vragen beantwoord van een student. De virtuele avatar krijgt als primaire functie het begeleiden van studenten door middel van interactieve vragen te beantwoorden en te stellen. Door gerichte vragen te stellen, kan de avatar de student ondersteunen bij het leerproces, bijvoorbeeld door leerdoelen in kaart te brengen, voortgang te monitoren of gerichte feedback te geven op basis van de antwoorden van de student.</p>
            </li>
            <li class="card project">
                <h2>LOOI</h2>
                <h4>Probleem</h4>
                <p>Het probleem is dat de bestaande LOOI robot een nieuwe en zelfgemaakte UI nodig heeft. daarom komt dit project van pas. Deze applicatie heeft als doel om een ervaring te bieden die vergelijkbaar is met de interactie met de "Looi robot", waarbij gebruikers kunnen communiceren met een virtueel wezen op hun telefoon. Het virtueel wezen heeft meerdere functies zoals: De aanraking van de gebruiker volgen, een emotie uitting en een idle animatie.</p>
                <h4>Doelstelling</h4>
                <p>Het doel van dit project is om een telefoonapplicatie te ontwikkelen die een interactieve ervaring biedt aan de gebruikers, vergelijkbaar met de functionaliteit van de "Looi robot". De applicatie moet in staat zijn om op een intuïtieve en boeiende manier te reageren op gebruikersinteracties, waarbij het gebruikmaakt van de mogelijkheden van een mobiel apparaat zoals aanraking.</p>
            </li>
            <li class="card project">
                <h2>Signlator</h2>
                <h4>Probleem</h4>
                <p>Tegenwoordig zijn er heel weinig mensen die gebarentaal kunnen waardoor er een valkuil is voor slechthorende mensen. daarnaast is er ook weinig aanbod voor een oplossing zoals een gebarentaal vertaler.</p>
                <h4>Doelstelling</h4>
                <p>Het doel van dit project is om een gebarentaal vertaler te maken die door middel van TTS(Text-To-Signlanguage) en STT(Signlanguage-To-Text) kan communiceren met slechthorende mensen. Dit wordt gedaan door specifieke handgebaren te koppelen aan letters en vervolgens zo woorden te kunnen spellen.</p>
            </li>
      </ul>
    </section>
</MainLayout>