---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/werkprocessen.css';
---
<MainLayout title="Werkprocessen">
    <section class="stack">
        <h1>Werkprocessen</h1>
        <ul class="werkproces-list">
            <li class="werkproces 1">
                <h2>Werkproces 1</h2>
                <h4>Beoordeling eisen en wensen</h4>
            </li>
            <li class="werkproces 2">
                <h2>Werkproces 2</h2>
                <h4>Beoordeling ontwerp</h4>
            </li>
            <li class="werkproces 3">
                <h2>Werkproces 3</h2>
                <h4>Beoordeling realisatie</h4>
            </li>
            <li class="werkproces 4">
                <h2>Werkproces 4</h2>
                <h4>Beoordeling testen</h4>
            </li>
            <li class="werkproces 5">
                <h2>Werkproces 5</h2>
                <h4>Beoordeling verbetervoorstellen</h4>
            </li>
            <li class="werkproces 6">
                <h2>Werkproces 6</h2>
                <h4>Beoordeling overleggen</h4>
            </li>
            <li class="werkproces 7">
                <h2>Werkproces 7</h2>
                <h4>Beoordeling (deel)oplevering</h4>
            </li>
            <li class="werkproces 8">
                <h2>Werkproces 8</h2>
                <h4>Beoordeling reflecteren</h4>
            </li>
        </ul>
    </section>
<!---------------------- OVERLAYS ---------------------->
    <template id="wp-1">
        <h2>Werkproces 1: Eisen en wensen</h2>
        <h4>De eisen en wensen zijn verwerkt in de user stories.</h4>
        <p> Volledig: de set van de user stories is een volledige weerspiegeling van de eisen en wensen, naast de essentiële eisen zijn ook de details (het informatiekanaal, plaatsen van opmerkingen en algemene voorwaarden) verwerkt. Dit geldt ook voor de definition of done.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4>De user stories voldoen aan de criteria (wie, wat, waarom en realistisch).</h4>
        <p>Volledig: de user stories zijn op de juiste wijze geformuleerd en voorzien van prioritering en tijdsindicatie. De kandidaat heeft een helder beeld bij de user stories en kan de prioritering en tijdsindicatie onderbouwen en plaatsen in de planning.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4>Op basis van de user stories is een complete en realistische planning gemaakt</h4>
        <p>Volledig: er is een complete en realistische planning. De planning is compleet en realistisch ingeschat.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4>De voortgang is bewaakt en de juiste keuzes/afwegingen zijn gemaakt op basis van prioriteiten.</h4>
        <p>Volledig: er is een duidelijke voortgangsbewaking op basis van prioritering. In de planning en prioritering is er zichtbaar sprake van keuzes en afwegingen. Dit niet alleen in het ontwikkelteam, maar ook met de opdrachtgever.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
    </template>

    <template id="wp-2">
        <h2>Werkproces 2: Ontwerp</h2>
        <h4></h4>
        <p> Volledig: de set van de user stories is een volledige weerspiegeling van de eisen en wensen, naast de essentiële eisen zijn ook de details (het informatiekanaal, plaatsen van opmerkingen en algemene voorwaarden) verwerkt. Dit geldt ook voor de definition of done.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: de user stories zijn op de juiste wijze geformuleerd en voorzien van prioritering en tijdsindicatie. De kandidaat heeft een helder beeld bij de user stories en kan de prioritering en tijdsindicatie onderbouwen en plaatsen in de planning.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: er is een complete en realistische planning. De planning is compleet en realistisch ingeschat.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: er is een duidelijke voortgangsbewaking op basis van prioritering. In de planning en prioritering is er zichtbaar sprake van keuzes en afwegingen. Dit niet alleen in het ontwikkelteam, maar ook met de opdrachtgever.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
    </template>

    <template id="wp-3">
        <h2>Werkproces 3: Realisatie</h2>
        <h4></h4>
        <p> Volledig: de set van de user stories is een volledige weerspiegeling van de eisen en wensen, naast de essentiële eisen zijn ook de details (het informatiekanaal, plaatsen van opmerkingen en algemene voorwaarden) verwerkt. Dit geldt ook voor de definition of done.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: de user stories zijn op de juiste wijze geformuleerd en voorzien van prioritering en tijdsindicatie. De kandidaat heeft een helder beeld bij de user stories en kan de prioritering en tijdsindicatie onderbouwen en plaatsen in de planning.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: er is een complete en realistische planning. De planning is compleet en realistisch ingeschat.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: er is een duidelijke voortgangsbewaking op basis van prioritering. In de planning en prioritering is er zichtbaar sprake van keuzes en afwegingen. Dit niet alleen in het ontwikkelteam, maar ook met de opdrachtgever.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
    </template>

    <template id="wp-4">
        <h2>Werkproces 4: Testen</h2>
        <h4></h4>
        <p> Volledig: de set van de user stories is een volledige weerspiegeling van de eisen en wensen, naast de essentiële eisen zijn ook de details (het informatiekanaal, plaatsen van opmerkingen en algemene voorwaarden) verwerkt. Dit geldt ook voor de definition of done.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: de user stories zijn op de juiste wijze geformuleerd en voorzien van prioritering en tijdsindicatie. De kandidaat heeft een helder beeld bij de user stories en kan de prioritering en tijdsindicatie onderbouwen en plaatsen in de planning.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: er is een complete en realistische planning. De planning is compleet en realistisch ingeschat.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: er is een duidelijke voortgangsbewaking op basis van prioritering. In de planning en prioritering is er zichtbaar sprake van keuzes en afwegingen. Dit niet alleen in het ontwikkelteam, maar ook met de opdrachtgever.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
    </template>

    <template id="wp-5">
        <h2>Werkproces 5: Verbetervoorstellen</h2>
        <h4></h4>
        <p> Volledig: de set van de user stories is een volledige weerspiegeling van de eisen en wensen, naast de essentiële eisen zijn ook de details (het informatiekanaal, plaatsen van opmerkingen en algemene voorwaarden) verwerkt. Dit geldt ook voor de definition of done.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: de user stories zijn op de juiste wijze geformuleerd en voorzien van prioritering en tijdsindicatie. De kandidaat heeft een helder beeld bij de user stories en kan de prioritering en tijdsindicatie onderbouwen en plaatsen in de planning.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: er is een complete en realistische planning. De planning is compleet en realistisch ingeschat.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: er is een duidelijke voortgangsbewaking op basis van prioritering. In de planning en prioritering is er zichtbaar sprake van keuzes en afwegingen. Dit niet alleen in het ontwikkelteam, maar ook met de opdrachtgever.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
    </template>

    <template id="wp-6">
        <h2>Werkproces 6: Overleggen</h2>
        <h4></h4>
        <p> Volledig: de set van de user stories is een volledige weerspiegeling van de eisen en wensen, naast de essentiële eisen zijn ook de details (het informatiekanaal, plaatsen van opmerkingen en algemene voorwaarden) verwerkt. Dit geldt ook voor de definition of done.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: de user stories zijn op de juiste wijze geformuleerd en voorzien van prioritering en tijdsindicatie. De kandidaat heeft een helder beeld bij de user stories en kan de prioritering en tijdsindicatie onderbouwen en plaatsen in de planning.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: er is een complete en realistische planning. De planning is compleet en realistisch ingeschat.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: er is een duidelijke voortgangsbewaking op basis van prioritering. In de planning en prioritering is er zichtbaar sprake van keuzes en afwegingen. Dit niet alleen in het ontwikkelteam, maar ook met de opdrachtgever.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
    </template>

    <template id="wp-7">
        <h2>Werkproces 7: (deel)Oplevering</h2>
        <h4></h4>
        <p> Volledig: de set van de user stories is een volledige weerspiegeling van de eisen en wensen, naast de essentiële eisen zijn ook de details (het informatiekanaal, plaatsen van opmerkingen en algemene voorwaarden) verwerkt. Dit geldt ook voor de definition of done.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: de user stories zijn op de juiste wijze geformuleerd en voorzien van prioritering en tijdsindicatie. De kandidaat heeft een helder beeld bij de user stories en kan de prioritering en tijdsindicatie onderbouwen en plaatsen in de planning.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: er is een complete en realistische planning. De planning is compleet en realistisch ingeschat.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: er is een duidelijke voortgangsbewaking op basis van prioritering. In de planning en prioritering is er zichtbaar sprake van keuzes en afwegingen. Dit niet alleen in het ontwikkelteam, maar ook met de opdrachtgever.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
    </template>

    <template id="wp-8">
        <h2>Werkproces 8: Reflecteren</h2>
        <h4></h4>
        <p> Volledig: de set van de user stories is een volledige weerspiegeling van de eisen en wensen, naast de essentiële eisen zijn ook de details (het informatiekanaal, plaatsen van opmerkingen en algemene voorwaarden) verwerkt. Dit geldt ook voor de definition of done.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: de user stories zijn op de juiste wijze geformuleerd en voorzien van prioritering en tijdsindicatie. De kandidaat heeft een helder beeld bij de user stories en kan de prioritering en tijdsindicatie onderbouwen en plaatsen in de planning.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: er is een complete en realistische planning. De planning is compleet en realistisch ingeschat.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
        <h4></h4>
        <p>Volledig: er is een duidelijke voortgangsbewaking op basis van prioritering. In de planning en prioritering is er zichtbaar sprake van keuzes en afwegingen. Dit niet alleen in het ontwikkelteam, maar ook met de opdrachtgever.</p>
        <img src="/images/wp1-1.jpg" alt="brief">
    </template>
</MainLayout>