---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/werkprocessen.css';
import TrelloDIONNE from '../assets/TrelloDIONNE.mp4';
import BehoefteAnalyseDIONNE from '../assets/BehoefteAnalyseDIONNE.pdf'
import ExtendedAbstractTygoOffermanns from '../assets/Extended_Abstract_Tygo_Offermanns.pdf'
---
<MainLayout title="Werkprocessen">
    <section class="stack">
        <h1>Werkprocessen</h1>
        <ul class="werkproces-list">
            <li class="werkproces 1">
                <h2>Werkproces 1</h2>
                <h4>Beoordeling eisen en wensen</h4>
            </li>
            <li class="werkproces 2">
                <h2>Werkproces 2</h2>
                <h4>Beoordeling ontwerp</h4>
            </li>
            <li class="werkproces 3">
                <h2>Werkproces 3</h2>
                <h4>Beoordeling realisatie</h4>
            </li>
            <li class="werkproces 4">
                <h2>Werkproces 4</h2>
                <h4>Beoordeling testen</h4>
            </li>
            <li class="werkproces 5">
                <h2>Werkproces 5</h2>
                <h4>Beoordeling verbetervoorstellen</h4>
            </li>
            <li class="werkproces 6">
                <h2>Werkproces 6</h2>
                <h4>Beoordeling overleggen</h4>
            </li>
            <li class="werkproces 7">
                <h2>Werkproces 7</h2>
                <h4>Beoordeling (deel)oplevering</h4>
            </li>
            <li class="werkproces 8">
                <h2>Werkproces 8</h2>
                <h4>Beoordeling reflecteren</h4>
            </li>
        </ul>
    </section>
<!---------------------- OVERLAYS ---------------------->
    <template id="wp-1">
        <h2>Werkproces 1: Eisen en wensen</h2>
        <h4>De eisen en wensen zijn verwerkt in de user stories.</h4>
        <p> Volledig: de set van de user stories is een volledige weerspiegeling van de eisen en wensen, naast de essentiële eisen zijn ook de details (het informatiekanaal, plaatsen van opmerkingen en algemene voorwaarden) verwerkt. Dit geldt ook voor de definition of done.</p>
        <a href="https://trello.com/b/53vccI5v/zuyd-tygo-offermanns">⚪ Trello bord DI.ON.NE</a>
        <video class="werkprocess-media" src={TrelloDIONNE} controls></video>
        <h4>De user stories voldoen aan de criteria (wie, wat, waarom en realistisch).</h4>
        <p>Volledig: de user stories zijn op de juiste wijze geformuleerd en voorzien van prioritering en tijdsindicatie. De kandidaat heeft een helder beeld bij de user stories en kan de prioritering en tijdsindicatie onderbouwen en plaatsen in de planning.</p>
        <iframe src={BehoefteAnalyseDIONNE} class="werkprocess-iframe" title="Behoefteanalyse"></iframe>
        <h4>Op basis van de user stories is een complete en realistische planning gemaakt</h4>
        <p>Volledig: er is een complete en realistische planning. De planning is compleet en realistisch ingeschat.</p>
        <iframe src={ExtendedAbstractTygoOffermanns} class="werkprocess-iframe" title="Extended Abstract"></iframe>
        <h4>De voortgang is bewaakt en de juiste keuzes/afwegingen zijn gemaakt op basis van prioriteiten.</h4>
        <p>Volledig: er is een duidelijke voortgangsbewaking op basis van prioritering. In de planning en prioritering is er zichtbaar sprake van keuzes en afwegingen. Dit niet alleen in het ontwikkelteam, maar ook met de opdrachtgever.</p>
        <a href="https://trello.com/b/53vccI5v/zuyd-tygo-offermanns">⚪ Trello bord DI.ON.NE</a>
        <a href="https://trello.com/b/FrTeiBs1/sign-laguage-applicatie">⚪ Trello bord Signlator</a>
    </template>

    <template id="wp-2">
        <h2>Werkproces 2: Ontwerp</h2>
        <h4>De user stories zijn vertaald naar een passend, eenduidig en volledig ontwerp (sluit aan op wensen en eisen).</h4>
        <p>Volledig: er is een volledig ontwerp waarin alle eisen en wensen en de user stories gelezen kunnen worden. Het ontwerp is duidelijk toegelicht zodat de lezer direct een relatie legt met de eisen en wensen.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>Er is gebruikgemaakt van relevante of toepasselijke schematechnieken (bijv. activiteitendiagram, klassendiagram, ERD, use case diagram).</h4>
        <p>Volledig: het ontwerp is een duidelijk weerspiegeling van de eisen en wensen. In het ontwerp zijn de volgende zaken aanwezig, correct en passend: activiteitendiagram, een correct en volledig dataschema, een class diagram en er is rekening gehouden met het design pattern.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>De gemaakte keuzes in het ontwerp zijn onderbouwd met steekhoudende argumenten, waarbij rekening is gehouden met bijv. ethiek, privacy en security.</h4>
        <p>Volledig: de ontwerpen zijn toegelicht en de lezer ervaart de relatie met de eisen en wensen. De onderbouwing is steekhoudend beargumenteerd en in de toelichting wordt een duidelijke relatie gelegd met ethiek, privacy en security.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
    </template>

    <template id="wp-3">
        <h2>Werkproces 3: Realisatie</h2>
        <h4>Er is voldoende inhoud van de user stories gerealiseerd binnen de gestelde/geplande tijd.</h4>
        <p>Volledig: de user stories die aan de kandidaat zijn toegewezen zijn gerealiseerd binnen de geplande tijd. Dit conform de uitgangspunten van het ontwerp.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>De opgeleverde functionaliteiten voldoen aan de eisen en wensen zoals omschreven in de betreffende user story.</h4>
        <p>Volledig: er is functionaliteit bij alle user stories gerealiseerd. En alle eisen en wensen zijn op de juiste wijze geïmplementeerd. De applicatie werkt.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>De kwaliteit van de code is goed. Dit uit zich onder andere in: de structuur van de code, validatie, efficiëntie, foutafhandeling en terugkoppeling, security (veilig programmeren).</h4>
        <p>Volledig: de code is kwalitatief op een hoog niveau en de programmeur heeft duidelijk aandacht besteed aan de structuur van de code (hij heeft bijvoorbeeld OOP en MVC toegepast), validatie, efficiëntie, foutafhandeling en terugkoppeling, security (veilig programmeren). Deze elementen zijn consequent doorgevoerd.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>De code is gestructureerd opgesteld volgens code conventions.</h4>
        <p>Volledig: code conventions zijn consequent gehanteerd.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>De code is verzorgd, leesbaar, gestructureerd en voorzien van zinvol commentaar.</h4>
        <p>Volledig: de code ziet er verzorgd uit en is voorzien van commentaar. Bij het lezen van de code is duidelijk waar de code voor dient en welke delen qua lay-out van de code bij elkaar horen.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>Versiebeheer is effectief toegepast.</h4>
        <p>Volledig: er is gestructureerd gebruikgemaakt van versiebeheer. Er is een geëigende tool gebruikt en alle versies zijn juist vastgelegd en terug te halen.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
    </template>

    <template id="wp-4">
        <h2>Werkproces 4: Testen</h2>
        <h4>De testcases in het testplan sluiten aan op de user stories en bevatten alle scenario's.</h4>
        <p> Volledig: er is een duidelijk testplan met daarin verschillende scenario’s die moeten wordengetest. De scenario’s zijn duidelijk gerelateerd aan de user stories. Ook de samenhang van de user stories worden in de applicatie getest.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>De stappen, het gewenste resultaat en testdata zijn benoemd. Niet alleen het hoofdscenario, maar ook alternatieve scenario's.</h4>
        <p>Volledig: er zijn testscenario’s, deze bevatten testdata en gewenste resultaten. Alternatieve paden zijn opgenomen in de scenario’s.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>Het testrapport bevat de juiste resultaten en conclusies.</h4>
        <p>Volledig: er is een testrapport met uitgebreide resultaten. Alle scenario’s hebben een resultaat en de conclusie geeft inzicht in de samenhang van de applicatie en het gebruik.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
    </template>

    <template id="wp-5">
        <h2>Werkproces 5: Verbetervoorstellen</h2>
        <h4>De juiste verbetervoorstellen zijn gedaan vanuit het testen.</h4>
        <p>Volledig: er zijn verbetervoorstellen genoemd die ook een duidelijke relatie hebben met de resultaten van de test en de conclusie. De verbetervoorstellen hebben betrekking op de technische en/of functionele oplossingen die de samengestelde functionaliteit verbeteren.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>De juiste verbetervoorstellen zijn gedaan vanuit de oplevering.</h4>
        <p>Volledig: er zijn verbetervoorstellen gedaan die terug te voeren zijn naar de resultaten van de test en de conclusie en die de functionaliteit en het gebruik van de ontwikkelde software verbeteren. Er is een duidelijke relatie gelegd naar de opdracht en de user stories.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>De juiste verbetervoorstellen zijn gedaan vanuit de reflectie.</h4>
        <p>Volledig: er zijn verbetervoorstellen gedaan die betrekking hebben op de doorlopen proces en de rol van het individu daarin. Er is een helder beeld geschetst van het proces en de rol van het individu daarin. Er zijn verbetervoorstellen gedaan die betrekking hebben op het doorlopen proces en de rol van het individu daarin.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
    </template>

    <template id="wp-6">
        <h2>Werkproces 6: Overleggen</h2>
        <h4>De kandidaat neemt actief deel waarbij relevante onderwerpen worden ingebracht en de juiste vragen worden gesteld.</h4>
        <p>Volledig: de kandidaat is actief aanwezig in overlegmomenten. Brengt relevante onderwerpen in, waarbij de breedte van de opdracht/problemen worden gezien en de kandidaat stelt relevante vragen.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>De kandidaat stemt regelmatig en tijdig af met projectteamleden en opdrachtgever over de voortgang en eventuele knelpunten.</h4>
        <p>Volledig: de kandidaat stemt zijn/haar voortgang regelmatig en tijdig af met de projectteamleden en/of opdrachtgever. Problemen worden tijdig benoemd en de consequenties worden hierin herkend.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>De gemaakte afspraken zijn eenduidig vastgelegd.</h4>
        <p>Volledig: alle afspraken worden eenduidig vastgelegd. Zaken als actiepunten, tijdsindicatie, verantwoordelijke, opvolging en betrokkenen zijn terug te vinden in de afspraken.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>De kandidaat houdt zich aan gemaakte afspraken.</h4>
        <p>Volledig: de kandidaat houdt zich aan de gemaakte afspraken en raadpleegt actief planning en gemaakte afspraken.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
    </template>

    <template id="wp-7">
        <h2>Werkproces 7: (deel)Oplevering</h2>
        <h4>De kandidaat presenteert een overtuigend, duidelijk, beargumenteerd verhaal, afgestemd op de doelgroep.</h4>
        <p>Volledig: de kandidaat heeft een overtuigend verhaal, waarin duidelijk wordt welke bijdrage is geleverd en op welke wijze deze bijdrage heeft geleid tot de totstandkoming van het product. De kandidaat kijkt goed rond en reageert op reacties van de doelgroep.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>De kandidaat stelt gerichte vragen om te controleren of de betrokkenen goed geïnformeerd zijn over het opgeleverde werk.</h4>
        <p>Volledig: de boodschap is volledig helder en duidelijk overgekomen.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>De kandidaat reageert adequaat op feedback.</h4>
        <p>Volledig: de kandidaat reageert actief op feedback, door, waar nodig, wedervragen te stellen en plaatst deze in de juiste context.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
    </template>

    <template id="wp-8">
        <h2>Werkproces 8: Reflecteren</h2>
        <h4>De kandidaat benoemt zowel positieve als verbeterpunten van het proces van zowel eigen als teamprestaties.</h4>
        <p>Volledig: de kandidaat heeft duidelijke beelden bij het doorlopen proces. Hij/zij benoemtzowel positieve als verbeterpunten t.a.v. het proces. De kandidaat heeft een goed beeld van de eigen/teamprestatie en hoe deze elkaar hebben beïnvloed.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>De kandidaat reageert adequaat op de ontvangen feedback.</h4>
        <p>Volledig: de kandidaat reageert actief op feedback, door, waar nodig, wedervragen te stellen en plaatst deze in de juiste context.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
        <h4>De kandidaat heeft een actieve houding tijdens reflectiemeetings</h4>
        <p> Volledig: de kandidaat is actief aanwezig in reflectiemeetings. Brengt relevante onderwerpen in, waarbij de breedte van de opdracht/problemen worden gezien en de kandidaat stelt relevante vragen.</p>
        <img src="/images/wp1-1.jpg" alt="foto">
    </template>
</MainLayout>